@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Passions+Conflict&display=swap');

:root {

  --heading-font: "Berkshire Swash";
  --paragraph-font: "Berkshire Swash", Helvetica, sans-serif;

}

body {
    font-family: Arial, sans-serif;
    background-color: #eedff0;
}


h1,h2 {
    font-family: var(--heading-font);
    text-align: center;
    background-color: #e9b5d7;
}

h3,p {
    font-family: var(--heading-font);

}

